@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
html, body{
    overflow-x: hidden;
}
::-webkit-scrollbar{
    display: none;
}

.divPrincipais{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.painel{
    width: 70vw;
    height: 60vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    background: rgba(255, 255, 255, 0.918);
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vh;

    overflow-x: scroll;
}
