.linguagens{
    background: url(../imagens/pexels-jorge-jesus-137537-614117.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.projetos{
    background: url(../imagens/pexels-stanislav-kondratiev-10816120.jpg);
    background-size: contain;
    background-attachment: fixed;
}

.divImagem{
    width: 20vw;
}

.imagem{
    height: 40vh;
    overflow: hidden;
    border-radius: 500px;
}

.texto{
    width: 30vw;
    height: 50vh;

    overflow: scroll;
}