.projeto{
    background: url(../imagens/pexels-stanislav-kondratiev-10816120.jpg);
    background-size: contain;
    background-attachment: fixed;
}

.divImagem{
    width: 20vw;
}

.imagem{
    background-size: cover;
}

.imagem{
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    border-radius: 500px;
}

.texto{
    width: 40vw;
    height: 50vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    overflow: scroll;
}