main{
    background: url(../imagens/fundo\ preto\ e\ verde.avif);
    background-size: cover;
    background-attachment: fixed;
}
#sobre{
    width: 20vw;
}
#sobreMimFoto{
    height: 40vh;
    overflow: hidden;
    border-radius: 500px;
}
#descricao{
    width: 30vw;
    height: 50vh;

    overflow: scroll;
}